@charset "utf-8";

// ブレークポイント
$breakpoints: (
	"sp": "(max-width: 768px)",
  "tab": "(min-width: 769px) and (max-width: 1024px)",
  "pc": "(min-width: 1025px)"
);

@mixin mq($breakpoint: sp) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

body {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 500;
  font-size: 15px;
  color: #684B2A;
}

.english {
  font-family: "GFS+Didot", serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* ======================
 共通
====================== */

.section {

  &__title {
    h2 {
      font-size: 23px;
      font-weight: 700;
      letter-spacing: 4px;

      @include mq('sp') {
        display: block;
        text-align: center;
      }
    }

    p {
      font-family: "Josefin Sans", sans-serif;
      display: block;
      margin-top: 16px;
      color: #cad44d;
      font-size: 17px;
      font-weight: 700;
      letter-spacing: 1.7px;
      line-height: 17px;

      @include mq('sp') {
        display: block;
        text-align: center;
      }
    }
  }
}

.l_border {
  height: 80px;
  border: 1px dashed #684B2A;
}

.fl_border {
  border: 1px dashed #684B2A;
  margin-bottom: 24px;

  @include mq('sp') {
    display: none;
  }
}

.f_border {
  height: 152px;
  border: 1px dashed #684B2A;
  margin-top: 50px;

  @include mq('sp') {
    display: none;
  }
}

.sp_border {
  display: none;
  
  @include mq( 'sp' ) {
    display: block;
    border: 1px dashed #684B2A;
    margin: 32px 0;
    width: 343px;
  }
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

.bg__radius {
  position: absolute;
  top: 50%;
  left: 50%;


  @include mq( 'sp' ) {
    width: 100%;
    height: 100%;
    top: 100%;
    left: -20%;
  }

  @include mq( 'tab' ) {
    width: 100%;
    height: 100%;
    top: 100%;
    left: -20%;
  }

  &.second {
    top: 50%;
    left: 0%;
    z-index: -1;

    @include mq( 'sp' ) {
      top: 80%;
      left: 50%;
      z-index: -1;
      display: none;
    }

    @include mq( 'tab' ) {
      top: 80%;
      left: 50%;
      z-index: -1;
      display: none;
    }
  }

  &.third {
    top: 50%;
    left: 70%;
    z-index: -1;

    @include mq( 'sp' ) {
      display: none;
    }

    @include mq( 'tab' ) {
      display: none;
    }
  }
}

.btn {
  background-color: #F2FF5C;;
  line-height: 21.72px;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.75px;
  display: inline-block;
  text-align: center;

  &.btn-yellow {
    position: relative;
    width: 288px;
    height: 56px;
    line-height: 53px;
    &::after {
      content: url("../img/Vector\ 1.png");
      position: absolute;
      top: -10%;
      left: 90%;
      transform: translateX(-50%);
      width: 40px;
      height: 8px;
    }

    &:hover {
      background-color: #CAD44D;
      color: #fff;
     }
  }
}


/* ======================
  header
====================== */

.header {
  width: 1280px;
  max-width: 100%;
  padding: 0px 200px;
  display: flex; 
  justify-content: space-between;
  margin: 0 auto;

  @include mq('sp') {
    height: 64px;
    padding: 20px 20px;
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
  }

  @include mq('tab') {
    padding: 0 100px;
    width: 100%;
  }

  &__inner {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;

    @include mq('sp') {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__icon {
    display: none;

    @include mq('sp') {
      display: block;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    z-index: 11;

    @include mq('sp') {
      margin-bottom: 0;
    }

    img {
      @include mq('sp') {
        content: url("../img/Frame\ 45.png");
      }
    }
  }

  &__info {
    display: flex;
    align-items: end;
    gap: 32px;

    @include mq('sp') {
      display: none;
    }

    p {
      font-weight: 700;
    }
  }

  &__btn {
    display: none;

    @include mq('sp') {
      display: flex;
      cursor: pointer;
      flex-direction: column;
      align-items: center;  
      z-index: 11;
    }

    &.active {
      transform: translateX(0);

      .header__btn-line:nth-child(1) {
        top: 1px;
        transform: rotate(45deg);
      }

      .header__btn-line:nth-child(2) {
        opacity: 0;
      }

      .header__btn-line:nth-child(3) {
        top: -13px;
        transform: rotate(-45deg);
      }
    }
  }

  &__btn-line {
    width: 24px;
    height: 3px;
    background-color: #795548;
    margin: 2px 0;
    transition: ease .4s;
    position: relative;
  }

  &__nav {
    
    @include mq('sp') {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #F2FF5C;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s ease, transform 1s ease, visibility 1s ease; 
    }
  
    &.open {
      @include mq('sp') {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__list {
    display: flex;

    @include mq('sp') {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__item {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #F2FF5C;
      opacity: 0;
      transition: opacity 0.3s;
      z-index: -1;
    }

    &:hover {
      background: #F2FF5C;
    }

    &:hover::before {
      opacity: 1;
    }

    &--btn {
      .header__link {
        display: inline-block;
        padding: 8px 32px;
        background-color: #fff; 
        border: 1px solid #8b4513; 
        border-radius: 50px; 
        text-align: center;
        text-decoration: none; 
        font-weight: bold;
      }
  
      &:hover .header__link {
        background-color: #F2FF5C;
        text-decoration: none; 
      }

      .header__link::after {
        display: none; 
      }
    }
  }

  &__link {
    display: block;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;

    @include mq('sp') {
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 1px;
        background-color: #000; 
        transition: width 0.3s ease, left 0.3s ease;
        transform: translateX(-50%);
      }
  
      &:hover::after {
        width: 100%;
        left: 50%;
      }
    }
  }
}

.sp-menu {
  display: none;

  @include mq('sp') {
    display: flex;
    flex-direction: column;
  }
}

.pc-menu {
  display: flex;

  @include mq('sp') {
    display: none;
  }
}

/* ======================
  main visual
====================== */
.mv {

  &__content {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    flex-direction: column;

    @include mq('pc') {
      flex-direction: row; 
    }
  }

  &__text {

    @include mq('sp') {
      padding: 0 3%;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translateX(-50%);
    z-index: 11;

    @include mq('sp') {
      position: relative;
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
      width: 260px;
    }
  }

  &__lead {
    background-color: #F2FF5C;
    max-width: 50%;
    padding: 32px;
    position: absolute;
    top: 37%;
    z-index: 10;

    @include mq('sp') {
      position: relative;
      top: auto;
      left: auto; 
      transform: none; 
      max-width: 100%;
      margin: 0 auto;
      margin-top: -10px;
    }

    @include mq('tab') {
      top: 46%;
    }

    
    p {
      font-size: 14px;
      margin-top: 8px;
      letter-spacing: 0.7px;
      line-height: 28.2px;
      font-weight: 500;
    }
  }
}

/* ======================
  swiper関係
====================== */

.swiper {
  width: 100%; 
  max-width: 100%;
  margin: 0 auto; 
}

.swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;

  img {
    width: 100%;
    height: 100%;

    @include mq('pc') {
      width: 100%;
      max-width: 60%;
      height: 100%;
    }

    @include mq('sp') {
      width: 100%;
      max-width: 100%;
      height: 100%;
    }

    @include mq('tab') {
      width: 100%;
      max-width: 60%;
      height: 100%;
    }
  }
}

/* ======================
  news
====================== */

.news {
  padding: 0px 200px;
  margin-top: 72px;

  @include mq('sp') {
    padding: 0 20px;
  }

  @include mq('tab') {
    padding: 0 50px ;
  }
  
  &__inner {
    display: flex;
    gap: 50px;
    position: relative;
    margin: 0 auto;
    width: 880px;
    max-width: 100%;

    @include mq('sp') {
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
  }

  &__list {

    @include mq('sp') {
      flex-direction: column;
      display: inline-flex;
      gap: 16px;
    }

    @include mq('tab') {
      flex-direction: column;
      display: inline-flex;
      gap: 16px;
    }
  }

  &__item {
    display: flex;
    gap: 25px;
    padding: 9px 16px;
    align-items: center;

    &:hover {
      opacity: 0.5;
    }
  }

  &__date {
    font-weight: 500;
    color: #684B2A;
    min-width: 100px; 
  }

  &__content {
    position: relative; 
    padding-right: 50px;

    a {
      display: inline-block;
    }


    .new {
      background-color: #F2FF5C;
      padding: 0px 8px;
      white-space: nowrap; 
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); 
    }
  }

  &__btn {
    width: 198px;
    max-width: 100%;
    background-color: #F2FF5C;
    padding: 8px 32px;
    position: relative;
    left: 78%;
    display: flex;
    justify-content: center;
    margin-top: 24px;

    @include mq('sp') {
      left: 50%; 
      transform: translateX(-50%); 
      align-items: center;
    }

    @include mq('tab') {
      left: 50%; 
      transform: translateX(-50%); 
      align-items: center;
    }

    &::before {
      content: url(../img/arrow_right.png);
      position: absolute;
      left: 90%;
    }

    &:hover {
    line-height: 21.72px;
     opacity: 0.7;
     background-color: #CAD44D;
     color: #fff;
    }
  }
}

/* ======================
  greeting
====================== */

.greeting {
  margin-top: 75px;
  background-color: #FFF5E2;

  &__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__contents {
    display: flex;
    align-items: center;
    position: relative;
    gap: 57px;

    @include mq('sp') {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__img {
    width: 61%;
    flex-shrink: 0;
    
    @include mq('sp') {
      width: 100%;
      margin-bottom: 32px;
    }

    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding: 0px 200px 0px 0px;

    @include mq('sp') {
      padding: 32px 16px;
    }

    @include mq('tab') {
      padding: 0 20px 0 0; 
    }
  }

  &__lead {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.8;
    margin-top: 16px;
    letter-spacing: 0.75px;

    @include mq('sp') {
      font-size: 14px; 
      line-height: 1.6;
    }
  }
}

/* ======================
  affection
====================== */
.affection {
  margin-top: 72px;

  @include mq('sp') {
    padding: 0 20px;
  }

  @include mq('tab') {
    padding: 0;
  }

  &__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
  }

  &__content {
    margin-top: 26px;
    display: flex;
    gap: 24px;

    @include mq('sp') {
      flex-direction: column;
      gap: 80px;
      align-items: center;
    }
  }

  &__item {
    position: relative;
  }

  &__img {
    max-width: 100%;
    width: 100%;
    @include mq('sp') {
      width: 342px;
      height: auto;
    }
  }

  &__btn {
   text-align: center;
   margin-top: -45px;

    a {
      font-weight: 700;
    }
  }
}

/* ======================
  faq
====================== */

.faq {
  background-color: #FFF5E2;
  padding: 75px 200px;
  margin-top: 120px;

  @include mq('sp') {
    padding: 75px 20px;
  }

  @include mq('tab') {
    padding: 75px 20px;
  }

  &__inner {
    width: 880px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__lists {
    background-color: #F2FF5C;
    width: 640px;
    max-width: 100%;

    &:first-of-type {
      margin-top: 85px;
    }

    &:not(:first-of-type) {
      margin-top: 0px;
    }
  }

  &__list {
    overflow: hidden;
    transition: 0.3s;

    &.on {
      .faq__listHeader {
        border-bottom: none;
        &::after {
          content: '-';
          transform: rotate(0deg); 
          position: absolute;
          right: 5%;

          @include mq('sp') {
            right: 2%;
          }
        }
      }
      .faq__descBlock {
        opacity: 1;
        height: auto;
        border-bottom: 1px solid #3f3f3f;
      }
    }
  }

  &__listHeader {
    display: flex;
    align-items: center;
    gap: 24px;   
    border-bottom: 1px solid #3f3f3f;
    padding: 32px 20px 20px 20px;
    cursor: pointer;
    position: relative;

    &::after {
      content: '+';
      position: absolute;
      right: 5%;
      font-size: 22px;
      transition: transform 0.3s ease, content 0.3s ease;

      @include mq('sp') {
        right: 2%;
      }
    }
  }

  &__qa {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
  }

  &__an {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.05em;
  }

  &__descBlock {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
    opacity: 0;
  }

  &__listBlock {
    padding: 20px;
    display: flex;
    gap: 24px;
  }
}


/* ======================
  link
====================== */

.link {
  padding: 32px 200px;
  height: 84px;

  @include mq('sp') {
    padding: 32px 0px;
    height: 156px;
  }

  @include mq('tab') {
    padding: 32px 100px;
  }

  &__inner {
    width: 880px;
    max-width: 100%;
    margin: 0 auto;
  }

  &__item {
    width: 880px;
    max-width: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;

    @include mq('sp') {
      flex-direction: column;
      gap: 16px;
    }

    li {
      a {
        &::after {
          content: url("../img/external-link-square-alt.png");
          vertical-align: top;
          margin-left: 9.25px;
        }

        &:hover {
          opacity: 0.5;

        }
      }
    }
  }
}

/* ======================
  middle
====================== */

.middle {
  
  &__inner {
    background-image: url("../img/29167617_s\ 1.png");
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 290px;

    @include mq('sp') {
      height: 176px;
    }
  }
}

/* ======================
  footer
====================== */

.footer {
  background-color: #F2FF5C;

  &__inner {
    max-width: 1280px;
    width:  100%;
    margin: 0 auto;
    padding: 0 200px;

    @include mq('sp') {
      padding: 0 20px;
    }

    @include mq('tab') {
      padding: 0 50px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    @include mq('sp') {
      flex-direction: column;
    }
  }

  &__access {
    margin-top: 50px;
    display: block;
    text-align: center;
    

    &--ttl {
      p {
        font-size: 12px;
        font-weight: 400;
        line-height: 17.38px;
        margin-bottom: 10px;
      }
    }

    &--add {
      margin-top: 12px;
      margin-bottom: 12px;

      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 20.27px;
        letter-spacing: 0.05em;
      }

      a {
        text-align: center;
        display: block;
      }
    }
  }

  &__tel {
    margin-top: 50px;
    text-align: center;

    @include mq('sp') {
     margin: 0;
    }

    p {
      font-size: 15px;
      font-weight: 500;
      line-height: 27px;
      letter-spacing: 0.05em;
      margin-top: 12px;
    } 

    &--main {
      margin-top: 14px;
      position: relative;

      a {
        font-size: 35px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0.1em;

        &::before {
          content: url("../img/call.png");
          position: absolute;
          left: -14%;
        }
      }
    }

    &--fax {
      font-size: 15px;
      font-weight: 700;
      line-height: 21.72px;
      letter-spacing: 0.05em;
      margin-top: 10px;
    }
  }

  &__nav {
    padding-bottom: 30px;
  }

  .footer__list {
    display: flex;
    justify-content: space-between;
  
    @include mq('sp') {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  }
  
  .footer__link {
    position: relative;
    font-size: 13px;
    text-decoration: none;
  
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 1px;
      background-color: #000; 
      transition: width 0.3s ease, left 0.3s ease;
      transform: translateX(-50%);
      margin-top: 3px;
    }
  
    &:hover::after {
      width: 100%;
      left: 50%;
    }
  
    @include mq('sp') {
      &:hover::after {
        width: 100%;
        left: 50%;
      }
    }
  }

  &__copyright {
    background-color: #fff; /* コピーライトの背景色 */
    padding: 10px 0;

    &--inner {
      max-width: 1200px;
      margin: 0 auto;

      p {
        display: block;
        font-size: 12px;
        font-weight: 400;
        line-height: 17.38px;
        text-align: center;
      }
    }
  }
}

// モーダルCSS
.mv, .news, .greeting, .affection, .faq, .link, .middle, .footer, .copyRight {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.mv.visible, .news.visible, .greeting.visible, .affection.visible, .faq.visible, .link.visible, .middle.visible, .footer.visible, .copyRight.visible {
  opacity: 1;
  transform: translateY(0);
}
